<html ng-app="Statistic">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <title>Calculadora Estatística</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

        <script src="js/scripts.js"></script>
    </head>
    <body>
        <main>
            <div id="container" ng-controller="StatisticController">
                <md-card class="card">
                    <div id="header"></div>
                    <div id="content">
                        <img src="img/icon.png" class="md-card-image"/>
                        <input type="text" name="values" placeholder="Digite aqui os valores"/>
                        <md-input-container class="select">
                        <label>Operações</label>
                        <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
                          <md-optgroup label="Operações">
                            <md-option ng-value="item" ng-repeat="item in items">{{item}}</md-option>
                            </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <input class="submit" type="submit" value="Calcular" ng-click="calculate()"/>
                        <h1 id="result"></h1>
                    </div>
                    <div id="footer"></div>
                </md-card>
            </div>
    </main>
    </body>
</html>